@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: centGoth;
  src: url("/fonts/centurygothic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: centGoth;
  src: url("/fonts/centurygothic_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@theme {
  --font-centgoth: centGoth, "sans-serif";
  --color-fararjeh: #4400ff;
  --color-fararjeh-dim: #3700cf;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .text-stroke-thin {
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .text-stroke-thinnest {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

header {
  background-color: #4400ff;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10px;
  font-size: 2.5rem;
}