@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: centGoth;
  src: url("/fonts/centurygothic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: centGoth;
  src: url("/fonts/centurygothic_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@theme {
  --font-centgoth: centGoth, "sans-serif";
  --color-fararjeh: #4400ff;
  --color-fararjeh-dim: #3700cf;
}

@layer utilities {
  .text-stroke-thick {
    -webkit-text-stroke-width: 12px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .text-stroke {
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .text-stroke-thin {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .text-stroke-thinnest {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }
}

@layer base {
  .header {
    @apply font-centgoth font-bold text-4xl text-center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .header-xl {
    @apply font-centgoth font-bold text-7xl text-center;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .paragraph {
    @apply font-centgoth text-xl text-center px-20;
  }

  .image {
    @apply object-scale-down max-h-full drop-shadow-md rounded-xl m-auto;
  }

  .footerButton {
    @apply flex-1 flex items-center gap-3 font-centgoth font-bold justify-center text-3xl px-4 py-2 bg-fararjeh text-white transition hover:bg-gradient-to-b hover:from-fararjeh hover:to-fararjeh-dim hover:text-gray-300;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

header {
  background-color: #4400ff;
  color: white;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10px;
  font-size: 2.5rem;
}