@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ededed;
}

@font-face {
  font-family: centGoth;
  src: url("/fonts/centurygothic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: centGoth;
  src: url("/fonts/centurygothic_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@theme {
  --font-centgoth: centGoth, "sans-serif";
  --color-fararjeh: #4400ff;
  --color-fararjeh-dim: #3700cf;
  --color-site-bg: #1a1a1a;
  --color-site-bg-dim: #141414;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }
}

@layer base {

  .footerButton {
    @apply flex-1 flex items-center gap-3 font-centgoth font-bold justify-center text-3xl px-4 py-2 bg-fararjeh text-white transition hover:bg-gradient-to-b hover:from-fararjeh hover:to-fararjeh-dim hover:text-gray-300;
  }
  
  .image {
    @apply max-h-full rounded-xl m-auto shadow-md;
  }

  h1 {
    @apply font-centgoth font-bold text-7xl text-center;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  h2 {
    @apply font-centgoth font-bold text-9xl text-left;
    -webkit-text-stroke-width: 15px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }
  
  p {
    @apply font-centgoth text-2xl text-center;
  }

  section {
    @apply flex flex-col justify-between py-30;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
  
  header {
    @apply bg-[#4400ff] pt-8 flex justify-center items-center gap-2.5;
  }
}

#sidebar {
  @apply font-centgoth font-bold text-2xl tracking-wide
}

#backgroundL span {
  z-index:-1;
  opacity:.5;
  background-color:#383838;
  width:1px;
  height:1450vh;
  position:fixed;
  top:0px;
  transform: rotate(45deg); /* Rotate the line */
  transform-origin: top left; /* Adjust rotation pivot */
}

#backgroundL span:nth-child(n) {
  left: calc(10% * (n));
}

#backgroundR span {
  z-index:-1;
  opacity:.5;
  background-color:#383838;
  width:1px;
  height:1450vh;
  position:fixed;
  top:0px;
  transform: rotate(315deg); /* Rotate the line */
  transform-origin: top left; /* Adjust rotation pivot */
}

#backgroundR span:nth-child(n) {
  right: calc(10% * (n));
}